@import '../../home.scss';

.prefooter {
	position: relative;

	&Background {
		position: absolute;
		top: 0;
		left: 0;
		height: 200%;
		width: 100%;
		background-color: #0F2841;
		transform: skewY(3.5deg);
		transform-origin: bottom right;
	}
	
	&Container {
		width: 970px;
		position: relative;
	}

	&Title {
		font-size: 30px;
		font-weight: 600;
		letter-spacing: 1px;
		margin-bottom: 20px;
		color: #A0BDD2;
	}

	&Text {
		text-align: center;
		max-width: 370px;
		color: #52768F;
		margin-bottom: 30px;
	}

	& hr {
		background-color: #1F3850;
		border: none;
		height: 1px;
		width: 100%;
		margin: 0;
	}

	&Discount {
		color: #99AEBD;
		margin: 34px 0;

		& span {
			color: #FFDB64;
			font-size: 20px;
			margin-right: 3px;
		}

		&Icon {
			margin-left: 10px;
			max-width: 30px;
			max-height: 30px;
		}
	}

	&Button {
		background-color: #FFDB64;
		border-bottom: 3px solid #ECC43E;
		border-radius: 5px;
		color: #8F7D33;
		margin: 35px 0 60px 0;
		text-transform: uppercase;
		padding: 20px 60px 18px 60px;
	}
}

.footer {
	background-color: #041A31;
	color: #3F647F;
	position: relative;
	z-index: 100;

	&Text {
		font-family: 'Oswald Light', sans-serif;
		max-width: 370px;
		margin-bottom: 30px;
		text-align: center;
		letter-spacing: 1px;
	}

	& hr {
		margin: 0;
		width: 100%;
		height: 1px;
		border: none;
		background-color: #06233E;
	}

	&Logo {
		padding: 24px 0;

		&Icon {
			max-width: 30px;
			max-height: 30px;
			margin-right: 13px;
		}

		&Name {
			font-size: 15px;
		}
	}

	&Copyright {
		margin: 27px 0;
	}

	&Socials {
		margin: 20px 0;

		& img {
			margin: 0 5px;
			opacity: 0.3;
			max-width: 24px;
			max-height: 24px;
		}

		&YouTube {
			filter: grayscale(1) invert(1) brightness(2);
		}
	}
}
