@import 'styles/variables.scss';

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Fira Sans Light';
	src: url('../assets/fonts/Fira_Sans/FiraSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald';
	src: url('../assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald Light';
	src: url('../assets/fonts/Oswald/Oswald-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Acrom Bold';
	src: url('../assets/fonts/Acrom/Acrom-Bold.ttf') format('truetype');
}
