@import 'styles/colors.scss';
@import 'styles/variables.scss';

@keyframes animateBackground {
	0% {
		background-position: 0% 83%
	}

	50% {
		background-position: 100% 18%
	}

	100% {
		background-position: 0% 83%
	}
}

.intro {
	padding: 30px;
}

.introLogo {
	margin-bottom: 20px;
	max-height: 50px;
}

.home {
	font-family: 'Oswald Light', sans-serif;
	transition: all 5s;
	background: $white;
}

.homeContainer {
	max-width: 1050px;
	margin: 0 auto;
	height: 100%;
}

.overTheAir {
	background: linear-gradient(45deg, #1E57A1,#5FB474);
	background-size: 150% 150%;
	animation: animateBackground 10s ease infinite;
}

.emulator {
	background: linear-gradient(45deg, #1E5799,#7DB9E8);
	background-size: 150% 150%;
	animation: animateBackground 10s ease infinite;
}

.mainTitles {
	color: $white;
	letter-spacing: 1px;

	&_top {
		font-size: 26px;
		text-transform: uppercase;
		margin-bottom: 16px;
	}

	&_bottom {
		color: #B4D7E4;
		font-size: 14px;
	}
}

.indicators {
	height: 87px;
	background-color: #1A4365;
	border-bottom: 1px solid #173B62;
}

.indicator {
	font-family: $fira;
	height: 100%;
	padding: 0 30px;
	border-left: 1px solid #234F74;

	&Circle {
		height: 50px;
		width: 50px;
		background-color: #214768;
		border-radius: 50px;
		margin-right: 16px;
		box-sizing: border-box;

		&Img {
			width: 17px;
		}
	}

	&Parameter {
		&Top, &Bottom {
			color: #B1CFE8;
			font-size: 12px;
			text-transform: uppercase;
		}

		&Top {
			margin-bottom: 3px;
			font-weight: 600;
		}

		&Bottom {
			opacity: 0.4;
		}
	}
}
